<h1>About Me</h1>

<p>This is the about page... </p>

<p> Our Story: </p</p>
<ul>
    <li>Founded in 2021</li>
    <li>First store was in Rockville, MD</li>
    <li>In D.C., formerly Glens Grocery</li>
</ul>