<h1>About ERRINTS</h1>

<p>We are an investment firm founded by three Georgetown MBAs.</p>

<p> Franco's Story </p</p>
<ul>
    <li>Georgetown MBA Class of 2022 </li>
    <li>Post-MBA Career: IBM Tech Consulting </li>
     <li> Ask me about: Financial Modeling; Cryptocurrency </li>
</ul>


<p> Rishita's Story </p</p>
    <li>Georgetown MBA Class of 2022 </li>
    <li>Post-MBA Career: Big Tech giant in silicon valley </li>
     <li>Ask me about: Investing in tech companies, ESG investing, getting started with investing</li>
</ul>


<p> Errin's Story </p</p>
<ul>
    <li>Georgetown MBA Class of 2022 </li>
    <li>Post-MBA Career: Consulting at EY
     <li> Ask me about: Index Funds, ETFs, and the Buffett way of investing</li>
</ul>

<p> Deniz's Story </p</p>
<ul>
    <li>Georgetown MBA Class of 2022</li>
    <li>Post-MBA Career: Automotive industry</li>
     <li> Ask me about: International currency exchanges, investing for retirement </li>
</ul>