<h1>What we offer at ERRINTS: <br> Investment 101</h1>
<br>
<br>
<p>Here at <b>ERRINTS Investments </b>we pride ourselves on being 
    experts in public markets investing, providing maximum returns and 
top rated customer service to our clients for over 30 days.  </p>
<br>
<p>Our investment vehicles include: Meme Stocks, 2nd Rate Cryptocurrencies, 
    Nigerian princes who need help, time shares and de-listed penny stocks!</p>
<br>
<br>
<p>Here are some tips to be a successful investor:</p>
<br>
<ul>
    <li>1. Trust your gut! If you think its a great investment, it probably is!</li>
    <li>2. If an investment loses its value, HOLD ON! They always come back!</li>
    <li>3. Never EVER buy investments without consulting with ERRINTS Investments, 
        we will always have your back, perform excruitiating due dilligence and 
        ensure that your money is invested with care!</li>
</ul>

<p><b>Check out our PRODUCTS to start investing in your FUTURE TODAY!</p></b>

<p> </p>
